<section id="methodSelection">
  <h2>Detection Method</h2>
  <p>When polling for codec support, there are browsers that may return values such as "maybe" and "probably", rather than a logical "true" or "false".</p>
  <p ng-if="vm.supportModel.method === 'exact'">By default, CodecDetect will use "exact" as a detection method. When obtaining values such as "maybe" and "probably", CodecDetect will not intervene and simply report those values as they are.</p>
  <p ng-if="vm.supportModel.method === 'optimistic'">When set to an "optimistic" method, CodecDetect will transform any detection that was not reported as "false" or as an empty string (which means that a codec is not supported), and report a codec as supported.</p>
  <p ng-if="vm.supportModel.method === 'pessimistic'">When set to a "pessimistic" method, CodecDetect will report as unsupported any codec that is not specifically reported as supported.</p>

  <label for="supportDetectionMethod">Select a detection method:</label>
  <select ng-model="vm.supportModel.method" id="supportDetectionMethod">
    <option value="exact">Exact</option>
    <option value="optimistic">Optimistic</option>
    <option value="pessimistic">Pessimistic</option>
  </select>
</section>