@import "header";
@import "content";
@import "footer";

html,
body {
  background: #444;
  width: 100%;
  height: 100%;
}

a {
  color: #98e052;
}

a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}