header {
  padding: 12px 0;
  width: 100%;
  background: #333;
  font-size: 24px;
  text-shadow: 0 -1px 0 #000;
  color: #eee;

  h1 {
    margin: 0;
  }

  h3 {
    margin: 0;
    text-align: right;

    span {
      display: block;
      line-height: 16px;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .header-column {
    width: 394px;
    display: inline-block;
  }
}

