// breakpoints
@screen-mobile: 320px;
@screen-tablet: 600px;
@screen-desktop: 800px;
@screen-tv: 1920px;

// colors
@labelColor: #444;
@labelHoverColor: #222;
@green: #98e052;
@yellow: #D9CD57;
@red: #f78989;