<section id="videoCodecSupport">
  <h2>Send Codec Info</h2>
  <form name="sendDetailsForm" ng-submit="vm.formModel.sendInfo()">
    <div class="send-details-inputs">
      <input 
        class="details-input"
        id="yourName"
        name="yourName"
        type="text"
        placeholder="Your name"
        ng-model="vm.formModel.name"
      />
      <input 
        class="details-input"
        id="yourEmail"
        name="yourEmail"
        type="email"
        placeholder="Your email"
        ng-model="vm.formModel.email"
      />
      <input 
        class="details-input last"
        id="recipientsEmail"
        name="recipientsEmail"
        type="email"
        placeholder="Recipient's email"
        ng-model="vm.formModel.recipientEmail"
      />
    </div>
    <button
      class="send-details-button"
      type="submit"
    >Send</button>
  </form>
</section>